.createPostContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    font-size: 17px;
    background-color: var(--ui-5);
}

.createPostContainer__close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    color: var(--text-1);
    background-color: transparent;
}

.createPostContainer__close svg {
    width: 3rem;
}