.navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 2em;
    background-color: var(--ui-1);
}

.navbar__title {
    color: #fff;
    font-size: 1.5em;
    font-family: "Silkscreen";
    font-weight: 100;
    margin: 20px 12px;
}

.navbar .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar__ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__ulGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar__item {
    height: auto;
}

.navbar__item a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: var(--text-1);
    transition: background-color linear .1s;
}

.navbar__item a:hover {
    background-color: #222;

    .navbar__blank {
        color: var(--text-1)
    }
}

.navbar__blank {
    position: absolute;
    right: 0;
    padding: 0 12px;
    color: transparent
}