.post {
    width: 450px;
    background-color: var(--ui-1);
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    color: var(--text-1);
}

.postHeader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.postHeader__user {
    display: flex;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;
}

.postHeader__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postHeader__username {
    max-width: 70%;
    color: var(--text-1);
}

.postHeader__elapsedTime {
    color: var(--text-1);
}

.postBody {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.postBody__image {
    width: 100%;
}

.postBody__rightArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: -162px -98px;
    height: 30px;
    width: 30px
}

.postBody__leftArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: -130px -98px;
    height: 30px;
    width: 30px
}

.postBody__indicators {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.postBody__indicator {
    background-color: var(--text-4);
    padding: 5px;
    cursor: pointer;
    transition: background-color linear .1s;
}

.postBody__indicator--selected {
    background-color: var(--text-1);
}

.postFooter {
    padding: 10px 7px;
}

.postFooter__actions {
    display: flex;
    justify-content: space-between;
}

.postFooter__leftActions {
    display: flex;
    gap: 13px;
}

.postFooter__button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.postFooter__button--like {
    color: var(--text-1);
}

.postFooter__likeCount {
    padding-top: 10px;
}

.postFooter__likeCount p {
    font-weight: 600;
    color: var(--text-1);
    margin: 0;
}

.postFooter__description {
    padding-top: 5px;
    word-wrap: break-word;
}

.postFooter__description p {
    color: var(--text-1);
    margin: 0
}