.postModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background-color: var(--ui-5);
}

.postModalContainer__close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    color: var(--text-1);
    background-color: transparent;
}

.postModalContainer__close svg {
    width: 3rem;
}

.postModal {
    width: 65%;
    display: flex;
    flex-direction: row;
    background-color: var(--ui-1);
}

.postModalLeft {
    width: 500px;
}

.postModalRight {
    width: 40%;
}