.post {
    width: 450px;
    background-color: var(--ui-1);
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    color: var(--text-1);
}

.postHeader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.postHeader .user {
    display: flex;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;
}

.postHeader .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postHeader .username {
    max-width: 70%;
    color: var(--text-1);
}

.postHeader .elapsedTime {
    color: var(--text-1);
}

.postBody {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.postBody .image {
    width: 100%;
}

.postBody .rightArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: -162px -98px;
    height: 30px;
    width: 30px
}

.postBody .leftArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: -130px -98px;
    height: 30px;
    width: 30px
}

.postBody .indicators {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.postBody .indicator {
    background-color: var(--text-4);
    padding: 5px;
    cursor: pointer;
    transition: background-color linear .1s;
}

.postBody .indicatorSelected {
    background-color: var(--text-1);
}

.postFooter {
    padding: 10px 7px;
}

.postFooter .actions {
    display: flex;
    justify-content: space-between;
}

.postFooter .leftActions {
    display: flex;
    gap: 13px;
}

.postFooter .likeCount {
    padding-top: 10px;
}

.postFooter .likeCount p {
    font-weight: 600;
    color: var(--text-1);
    margin: 0;
}

.postFooter .description {
    padding-top: 5px;
    word-wrap: break-word;
}

.postFooter .description p {
    color: var(--text-1);
    margin: 0
}