.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-1);
}

.signup {
    width: 23em;
    margin: auto;
    font-family: "Nunito";
}

.signup .form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.signup .title {
    margin-bottom: .2em;
    color: var(--text-1);
    font-size: 3em;
    font-family: "Silkscreen";
}

.signup .inputField {
    width: 100%;
    height: 3.5em;
    display: flex;
}

.signup .inputField label {
    width: 3em;
    height: 100%;
    padding: .8em;
    text-align: center;
    background-color: var(--ui-2);
}

.signup .inputField label svg {
    width: 100%;
    height: 100%;
    color: var(--ui-3);
}

.signup .inputField input {
    width: 100%;
    height: 100%;
    padding: .8em;
    font-size: 1.1em;
    border: none;
    color: var(--text-1);
    background-color: var(--ui-3);
    transition: background-color linear .1s;
}

.signup .inputField input:focus {
    outline: none;
    background-color: var(--ui-4);
}

.signup .inputField input:hover {
    background-color: var(--ui-4);
}

.signup .form button {
    background-color: var(--link);
    height: 3em;
    border: none;
    border-radius: 5px;
}

.signup .notForm {
    margin-top: 1em;
}

.signup .notForm p {
    display: inline;
    color: var(--text-3);
}

.signup .notForm a {
    display: inline;
    color: var(--text-1);
}